# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.mlf'
name: 'MLF'
fileTypes: [
  'mlf'
]
patterns: [
  {
    begin: '^@yaml'
    beginCaptures:
      0:
        name: 'meta.class.python'
    end: '(?=^@+.)'
    patterns: [
      {
        comment: 'Block'
        name: 'meta.class.python'
        match: '\\[\\[.+\\]\\]'
      }
      {
        comment: 'Flag'
        name: 'keyword.other.python'
        match: '{{.+}}'
      }
      { include: 'source.yaml' }
    ]
  }
  {
    begin: '^@python'
    beginCaptures:
      0:
        name: 'meta.class.python'
    end: '(?=^@+.)'
    patterns: [
      {
        comment: 'Block'
        name: 'meta.class.python'
        match: '\\[\\[.+\\]\\]'
      }
      {
        comment: 'Flag'
        name: 'keyword.other.python'
        match: '{{.+}}'
      }
      { include: 'source.python' }
    ]
  }
  {
    begin: '^@.+'
    beginCaptures:
      0:
        name: 'meta.class.python'
    end: '^@+.(\n|\r)'
    patterns: [
      {
        comment: 'Block'
        name: 'meta.class.python'
        match: '\\[\\[.+\\]\\]'
      }
      {
        comment: 'Flag'
        name: 'keyword.other.python'
        match: '{{.+}}'
      }
    ]
  }
  {
    comment: 'Unformatted Block'
    name: 'punctuation.definition.variable.yaml'
    match: '\\[\\[.+\\]\\]'
  }
  {
    comment: 'Format'
    name: 'keyword.other.python'
    match: '@.+'
  }
  {
    comment: 'Flag'
    name: 'keyword.other.python'
    match: '{{.+}}'
  }

]
